/* .hero {
  .hero-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 660px;
    padding-left: 24px;
    padding-right: 24px;
  }
} */

.test {
  background-color: transparent;
  font-size: 15px;
  padding-top: 8px;
}
.test .cs-message__content {
  background-color: purple;
  color: white;
 
}

.test .cs-message-input__content-editor-wrapper {
  background-color: purple;
}
.test .cs-message-input__content-editor {
  background-color: purple;
  color: white;
}
.test .cs-message-input__content-editor[data-placeholder]:empty:before {
  color: white;
}
.test .cs-message-input__tools:first-child .cs-button:last-child {
  display: none;
}
.test .cs-message-input__tools:last-child .cs-button:last-child {
  color: black;
}
