.test {
  background-color: #f1fbfc;
  font-size: 15px;
  padding-top: 4px;
}
.test .cs-message--outgoing .cs-message__content {
  background-color: #03adb6; /* Sender background color */
  color: #d0faff; /* Sender text color */
}

.test .cs-message--incoming .cs-message__content {
  background-color: #efefef; /* Respond background color */
  color: #050505; /* Respond text color */
  font-weight: bold;
}


.test .cs-message-input__content-editor-wrapper {
  background-color: #e9f1f1;
}
.test .cs-message-input__content-editor {
  background-color: #e9f1f1;
  color: black;
}
.test .cs-message-input__content-editor[data-placeholder]:empty:before {
  color: white;
}
.test .cs-message-input__tools:first-child .cs-button:last-child {
  display: none;
}
.test .cs-message-input__tools:last-child .cs-button:last-child {
  background:#aeb9b9;
  color: white;
  margin-left: 8px;
}

.cs-message-list .cs-typing-indicator{
  background-color: #f1fbfc;
}

.cs-chat-container .cs-message-input{
  background-color:#f1fbfc;
  border-top: 4px solid #d9f1f0;
}
.test .cs-message-input__content-editor[data-placeholder]:empty:before {
  color: gray;
}

